:root {
  --primary: #d1b786;
  --secondary: #292929;
  --bg_gray: #c0c0c0;
  --dark_gray: #949494;
}

@font-face {
  font-family: "Trajan";
  src: url("../fonts/Trajan-Regular.woff2") format("woff2"),
    url("../fonts/Trajan-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.trajan {
  font-family: "Trajan";
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* btn design */

.btn {
  border: 2px solid;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem 6rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn.rounded-none {
  border-radius: 0;
}

.btn-border,
.btn-filled {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
}

.btn-filled {
  background-color: #fff;
  color: #000;
}

.btn-border:after,
.btn-filled:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: width 150ms ease-in-out;
}

.btn-filled:after {
  background: var(--primary);
  color: #fff;
}

.btn-border:hover {
  color: #000;
}

.btn-filled:hover {
  color: #fff;
}

.btn-border:hover:after,
.btn-filled:hover:after {
  width: 110%;
}

/* checkbox design */

.checkbox {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  border: 1px solid #616161;
  border-radius: 0;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 1rem 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  opacity: 0.8;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #d1b786;
  opacity: 1;
  border-color: #d1b786;
}

input[type="checkbox"]:checked:before {
  border-color: #ffffff;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 12px;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

/* slider */

#floorplanSlider .slick-list {
  margin-left: -278px;
}

#floorplanSlider .slick-slide {
  margin: 0 8px;
}

.slick-dots li,
.slick-dots li button {
  width: 15px;
  height: 15px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #949494;
}

.slick-dots li.slick-active button:before {
  color: #292929;
  opacity: 1;
}
.slick-dots {
  bottom: -30px;
}

.slick-dots li {
  margin: 0;
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
